[flake8]
enable-extensions = G
max-complexity = 5
max-doc-length = 90
max-line-length = 90
select = A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,B901,B902,B903,B950

# E501: Superseeded by B950 (from Bugbear)
# E722: Superseeded by B001 (from Bugbear)
ignore = E501,E722

# flake8-import-order
application-import-names = tesla_api
import-order-style = pycharm

# flake8-quotes
inline-quotes = '
